input.txt {
    border: 1px solid black;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}
input.btn {
    display:block;
    margin-bottom:1em;
    cursor:pointer;
}

.gain_levels {
  display: flex;
  height: 40vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.gain_levels li {

  flex-basis:  30%;

  background-color: #000;
  text-align: center;
  padding: 2px;

  margin: 2px;
  /*max-width: 30vw;*/
  /*justify-self: center;*/
}

.gain_levels li button,
.gain_levels li input[type=range] {
  width: 80%;
}

.gain_levels li button {
  font-size: 10px;
  margin-bottom: 4px;
  padding: 3px;
  background-color: #888;
  color: #fff;
}

.gain_levels input[type=range] {
  height: 10px;
}


footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: right;
}

footer input[type=submit] {
  float: right;
  margin-right: 15px;
}
