.container {
    display: grid;
    /*grid-template-columns: 50% auto;*/
    padding: 16px;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.color-light {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
