/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:#fff;
    padding: 0;
    font-family: 'Raleway', 'Arial';
    font-size: 16px;
    color:#000;
}
ul, li {
  margin: 0;
  padding:0;
}
ul {
    list-style-type:none;
}
li {
    list-style: none;
}

a {
    color:#000;
    text-decoration:none;
}

button, input[type=submit], select, .btn {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 0;
  padding: 8px;
  -webkit-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  -o-transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}
button:hover, input[type=submit]:hover, .btn:hover {
  background-color: #000;
  color: #fff;
}
